html, body {
    margin:0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: coral;
    display: flex;
    align-items: center;
}

.logo {
    height: 80%;
    width: 50px;
}

.title {
    color: white;
    margin: left 20px;;
}

#task-name{
    margin: 5px;
}

#add-task-button {
    width:15px;
    height: 15px;
    background-color: coral;
    border-radius: 100%;
    padding: 5px;
}
#add-task-button img{
    width: 10px;
    height: 10px;
}

.actions {
    display: flex;
    justify-items: center;
    align-items: center;
}