.app-header {
    background: rgb(150, 125, 93);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .app-header__title {
    margin-left: 20px;
    color: white;
  }
  